body{
  background: #AAAAAA;
}

div{
  width: 300px;
  height: 200px;
}

.bleu{
  background: #2980b9;
  display: inline-block;
}

.blanc{
  background: white;
  display: inline-block;
}

.rouge{
  background: #c0392b;
  display: inline-block; 
}
